*.DS_Store


*.log*
anhalytics-harvest/target
anhalytics-harvest/target/*
anhalytics-harvest/*.patrice
tempPdf/*
*.old
anhalytics-index/target
anhalytics-index/target/*
anhalytics-annotate/target
anhalytics-annotate/target/*
anhalytics-commons/target
anhalytics-commons/target/*
tempPDF/*
tempTEI/*
config/local/*
/anhalytics-frontend/target/
*.bak
/anhalytics-test/target/
*nb-configuration.xml
anhalytics-ingest/target/
anhalytics-ingest/target/*
config/local/
config/local/*
config/local/annotate.properties
config/local/harvest.properties
