.DS_Store


*.log*
anhalytics-harvest/target
anhalytics-harvest/target/*
anhalytics-harvest/*.patrice
tempPdf/*
*.old
anhalytics-index/target
anhalytics-index/target/*
anhalytics-annotate/target
anhalytics-annotate/target/*
anhalytics-commons/target
anhalytics-commons/target/*
tempPDF/*
tempTEI/*
anhalytics-frontend/search/lib/mathjax
anhalytics-frontend/search/lib/mathjax/*
anhalytics-frontend/search/lib/mathjax
anhalytics-frontend/search/lib/mathjax/*
config/local/*
/anhalytics-frontend/target/
*.bak