/anhalytics-harvest/target/
/anhalytics-index/target/
/anhalytics-annotate/target/
/anhalytics-commons/target/
/anhalytics-test/target/
/anhalytics-kb/target/
config/local
tempPDF/*
tempTEI/*
tempPdf/*
*.log*
*.out*
*.DS_Store
*.old
*.bak
*nb-configuration.xml
