<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm.ss} [%-5p] %-25c{1} - %m\n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.mongodb" level="warn">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>